img {
    border: 10px solid black;
}


.kep2 {
    border-color: blue;
}
.kep3 {
    border-color: red;
}
.kep4 {
    border-color: forestgreen;
}
.kep5 {
    border-color: greenyellow;
}